body {
  font-family: "Montserrat", sans-serif;
  background-color: #020202;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  color: white;
}

.text-container {
  color: white;
  font-size: 0.8em;
}

.text-span{
  color: #aa01dd;
}

.image-container {
  text-align: center;
}

.index-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.index-ul li {
  display: flex;
  align-items: center;
}

.index-ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.index-ul li a:hover {
  text-decoration: none;
  color: #aa01dd;
  transition: color 0.3s ease;
}

.index-ul li i {
  margin-right: 5px;
  font-size: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.index{
  font-size: 15px;
  margin-bottom: 20px;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.id-invalida {
  color: red;
}

.input-botao {
  background-color: #aa01dd;;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.input-botao:hover {
  background-color: #aa01dd;;
}

.input-botao:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-link {
  text-decoration: none;
  color: inherit;
  font-size: 3em;
  transition: none;
}

.erro{
    color: red;
}

#resultado {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#resultado h1 {
    font-size: 16px;
    margin-bottom: -5px;
}
